name: Continuous Integration

on:
  push:
    branches: ["feature/**"]
  pull_request:
    types: [opened, synchronize]

jobs:
  lint:
    name: Lint
    timeout-minutes: 15
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true
    env:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ vars.TURBO_TEAM }}

    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Setup pnpm
        uses: ./.github/actions/setup-pnpm
        with:
          node-version: 24

      - name: lint
        run: pnpm lint
